{
	"printWidth": 100,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": true,
	"useTabs": true,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": "**/*.json",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
